extends layout

block pageContent
    h1 #{title}
    p(id='topText') Welcome to #{title}
    div(id="info")
        div(class="bottom",id="inlineDoc")

block javascriptContent
    script(type='text/javascript',src='/javascripts/vendor/three.js/Three.js')
    script(type='text/javascript',src='/javascripts/vendor/three.js/Detector.js')
    script(type='text/javascript',src='/javascripts/vendor/three.js/Stats.js')

    script(type='text/javascript',src='/javascripts/vendor/threex/THREEx.screenshot.js')
    script(type='text/javascript',src='/javascripts/vendor/threex/THREEx.FullScreen.js')
    script(type='text/javascript',src='/javascripts/vendor/threex/THREEx.WindowResize.js')
    script(type='text/javascript',src='/javascripts/vendor/threex/THREEx.KeyboardState.js')
    script(type='text/javascript',src='/javascripts/vendor/threex.dragpancontrols.js')


    script(type='text/javascript',src='/javascripts/script.js')